* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: #87CEEB;
    /* position: fixed;
    top: 0; left: 0;
    width: 99%; */
}

.nav-ul, .nav-link {
    display: flex;
    column-gap: 20px;
}

.nav-link > a {
    text-decoration: none;
    color: #1d232c;
}

.nav-link > a:hover {
    text-decoration: underline;
    color: #1d232c;
}

.nav-font {
    display: none;
}

/* Side navbar */
.side-nav {
    background-color: #87CEEB;
    width: 50%; height: 100%;
    position: fixed;
    top: 0; left: -68%;
    padding: 20px;
    color: #1d232c;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1;
    transition: 2s;
}

.navbar-ul {
    list-style-type:none;
}

.sidenav-link {
    margin-bottom: 30px;
}

.sidenav-link > a {
    text-decoration: none;
    color: #1d232c;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1d232c;
    color: #fff;
}

/* Service */
.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 > div {
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}

/* New arrival and Most wanted */
.new-arrival {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival button {
    padding: 10px 20px;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: 3px solid black;
}

.news button {
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}

/* Media Query */
@media screen and (max-width:600px) {
    .nav-font {
        display: block;
    }

    .nav-link {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}