* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: #87CEEB;
}

.nav-ul, .nav-link {
    display: flex;
    column-gap: 20px;
}

.nav-link > a {
    text-decoration: none;
    color: #1d232c;
}

.nav-link > a:hover {
    text-decoration: underline;
    color: #1d232c;
}

.nav-font {
    display: none;
}

/* Side navbar */
.side-nav {
    background-color: #87CEEB;
    width: 50%; height: 100%;
    position: fixed;
    top: 0; left: -68%;
    padding: 20px;
    color: #1d232c;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 2s;
}

.navbar-ul {
    list-style-type:none;
}

.sidenav-link {
    margin-bottom: 30px;
}

.sidenav-link > a {
    text-decoration: none;
    color: #1d232c;
}

/* Products */
.product {
    margin-top: 20px;
}

.product-search {
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;

}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box {
    text-align: center;
    flex-basis: 20%;
}

.product-box img {
    border-radius: 10px;
}

/* Footer */
.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}

/* Media Query */
@media screen and (max-width:600px) {
    .nav-font {
        display: block;
    }

    .nav-link {
        display: none;
    }
}